@tailwind components;
@tailwind base;
@tailwind utilities;

body {
  @apply bg-gray-200;
}

#nprogress .bar {
  background: rgb(209, 250, 229) !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px rgb(209, 250, 229), 0 0 5px rgb(209, 250, 229);
}

#nprogress .spinner-icon {
  border-top-color: rgb(209, 250, 229);
  border-left-color: rgb(209, 250, 229);
}
